body {
    background-color: rgb(112, 111, 111);
    color: rgb(246, 206, 157);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


